.slide {
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    position: relative;

    &__show {
        display: none;
        justify-content: center;
        margin-top: 11px;
        margin-bottom: 42px;
    }

    &__show:first-child {
        display: flex;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        background-color: rgba(42,42,42,0.14);
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
    }
    .next {
        right: 0;
    }
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
      
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
      
    @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
    }
}

.description {
    position: relative;
    height: 730px;

    &__content {
        top: -75px;
        position: absolute;
        border: 1px solid #eaeaea;
        text-align: center;
        background-color: #ffffff;
        width: 61%;
        height: 730px;
    }

    &__collection {
        margin-top: 73px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $base-color-pink;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        margin-bottom: 67px;
        margin-top: 17px;
    }

    &__txt {
        margin-left: 260px;
        max-width: 618px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
        margin-bottom: 28px;
    }

    &__short {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 44px;
        margin-bottom: 37px;
    }

    &__author {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;

        b {
            color: #2f2f2f;
        }
    }

    &__price {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #ef5b70;
        margin-bottom: 35px;
    }

    &__filter {
        margin-top: 50px;
        margin-left: 310px;
        display: flex;
        gap: 53px;
    }

    &__filter-color {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__color-label {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #2f2f2f;
        margin-bottom: 12px;
    }

    &__filter-size {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__filter-quantity {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__color-select {
        border: 1px solid #eaeaea;
        width: 144px;
        padding: 8px 37px 8px 6px;
    }

    &__select {
        padding-left: 20px;
    }

    &__red::before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        background-color: red;
    }
    
    &__blue::before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        background-color: blue;
    }
    
    &__green::before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        background-color: green;
    }

    &__size-select {
        border: 1px solid #eaeaea;
        width: 144px;
        padding: 8px 37px 8px 6px;
    }

    &__filter-quantity input {
        border: 1px solid #eaeaea;
        width: 139px;
        padding: 9px 0 9px 10px;
    }

    &__button {
        margin-top: 28px;
        margin-left: 310px;
        width: 545px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px 207px 15px 207px;
        color: $base-color-pink;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        background-color: #ffffff;
        border: 1px solid $base-color-pink;
    }

    &__btn:hover {
        background-color: $base-color-pink;
        color: #ffffff;
        border: 1px solid $base-color-pink;
        transition: all 0.3s;
    }

    &__btn:hover svg path {
        fill: #fff;
    }
}

.single {
    margin-top: 30px;
    margin-bottom: 73px;

    &__title {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        text-align: center;
        margin-bottom: 72px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        width: 261px;
    }

    &__link {
        display: block;
        width: 261px;
        text-decoration: none;

        &__img {
            width: 100%;
        }
    }

    &__card {
        padding: 18px;
        background-color: #fff;
        text-align: start;
    }

    &__desc {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f6e6e;
        margin-bottom: 17px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $base-color-pink;
    }

    &__star {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #e4af48;
        display: none;
    }
    
    &__card-add {
        position: absolute;
        top: 98px;
        left: 25%;  
        justify-content: center;
        width: 135px;
        pointer-events: none;
        display: none;
    }

    &__add {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        padding: 8px;
        color: #fff;
        border: 1px solid #fff;
        pointer-events: all;

        &__txt {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
            margin-left: 8px;
        }
    }

    &__add:hover {
        box-shadow: 0 0 5px #fff;
    }
      
    &__add:hover svg path {
        fill: #F16D7F;
    }

    &__item:hover {
        box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
    }

    &__item:hover &__card-add {
        display: flex;
    }

    &__item:hover &__star {
        display: flex;
    }

    &__item:hover &__img {
        filter: brightness(0.5);
    }
}